/* Estilos para el menú */
body{
    font-family: Arial, sans-serif;
}

.menu {
    width: 300px; /* Ancho del menú */
    background-color: #f8f8f8; /* Color de fondo del menú */
    height: 100vh; /* Altura del menú, en este caso se ajusta a la altura de la ventana */
    position: fixed; /* Menú fijo en la ventana */
    top: 0; /* Posicionamiento en la parte superior de la ventana */
    left: 0; /* Posicionamiento en la parte izquierda de la ventana */
    padding: 20px; /* Espaciado interno del menú */
    background-color:#20A2B4;
    text-align: center;
}

.menu ul {
    list-style-type: none; /* Quita los estilos de lista por defecto */
    padding: 10px; /* Quita el espaciado interno de la lista */
    margin: 0; /* Quita el margen de la lista */
    margin-top:200px;
    font-size: 40px;
}

.menu ul li {
    margin-bottom: 20px; /* Espaciado inferior entre elementos de lista */
}

.menu ul li a {
    text-decoration: none; /* Quita la decoración de enlace por defecto */
    color: #000; /* Color de texto del enlace */
}

/* Estilos para el contenido de la página */
.contenido {
    margin-left: 200px; /* Ancho del menú para evitar que el contenido se superponga */
    padding: 20px; /* Espaciado interno del contenido */
   
}